:root {
  --purple: #a649c7;
}

.nav-bgColor {
  background-color: var(--purple);
}

.text-orange {
  color: #e1ff00;
}

.bg-orange {
  background-color: #e1a83b;
}

/* SECTION HERO IMAGE */

.heroImage {
  background-image: url(https://images.unsplash.com/photo-1621789099101-904ec6f058dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80);
  min-height: 75dvh;
  background-size: cover;
  background-position: center;
}

.heroImage-textBG {
  background-color: rgba(0, 0, 0, 0.508);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.shopImg {
  object-fit: cover;
  height: 15rem;
  width: 100%;
}

.shop-button {
  position: absolute;
  bottom: 5%;
  left: 40%;
}

.custom {
  padding-bottom: 2500px;
}

.box-shadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.646);
}

.text-lobster {
  font-family: "Lobster Two", cursive;
}

.shopNowButton {
  text-align: end;
}

i {
  text-shadow: 0px 0px 3px black;
}

/* SECTION MEDIUM MEDIA RULES */

@media (max-width: 767px) {
  .heroImage {
    background-image: url(https://images.unsplash.com/photo-1622396727845-c15ef9ffb419?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2187&q=80);
  }

  .shopNowButton {
    text-align: center;
  }

  .shopImg {
    height: 100%;
  }

  .shop-button {
    bottom: 1%;
    left: 42.5%;
  }
}
